body {
	margin: 0px;
	margin-top: 50px;
}
header {
	display: flex;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	height: 50px;
	line-height: 50px;
	background-color: white;
}
header * {
	display: inline;
	height: 50px;
}
header ul {
	padding: 0;
}
header li {
	/*margin-left: 30px;*/
	height: 50px;
	display: block;
	float: left;
	width: 100px;
	text-align: center;
}
header a {
	text-decoration: none;
	color: green;
}
header li:hover {
	background-color: orange;
	color: black;
}
section {
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	color: green;

	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
	background-attachment: fixed;
}
#hero img {
	width: 300px;
	border-radius: 50%;
}
footer {
	text-align: center;
	color: green;
	padding: 50;
	height: 100px;
	line-height: 80px;
}
#home {
	background-image: linear-gradient(rgba(255,255,255,0.4),rgba(255,255,255,0.1)), url('sunflower1.png');
}
#about {
	background-image: linear-gradient(rgba(255,255,255,0.4),rgba(255,255,255,0.5)), url('seed.jpg');
}
#contact {
	background-image: linear-gradient(rgba(255,255,255,0.4),rgba(255,255,255,0.1)), url('2.png');
}
#services {
	background-image: linear-gradient(rgba(255,255,255,0.4),rgba(255,255,255,0.3)), url('sunflower.jpg');
}
#location {
	background-image: linear-gradient(rgba(255,255,255,0.4),rgba(255,255,255,0.4)), url('3.jpg');
}

.prodbtn {
  background-color: white;
  color: green;
  padding: 16px;
  font-size: 16px;
  border: none;
}

.product {
  position: relative;
  display: inline-block;
}

.product-content {
  display: none;
  position: absolute;
  background-color: orange;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.product-content a {
  color: green;
  /*padding: px 10px;*/
  text-decoration: none;
  display: block;
}

.product-content a:hover {background-color: #ddd;}

.product:hover .product-content {display: block;}

.product:hover .prodbtn {background-color: #3e8e41;}